form
  display: flex
  flex-direction: column

  input:not([type='checkbox']), textarea
    width: 100%
    padding: 1em
    margin-bottom: 1rem
    border: none
    background-color: rgba(255,255,255,.7)
    font-family: $aller
    color: $text
    font-size: 1rem

  input[type='checkbox']
    width: 1.5em
    height: 1.5em
    margin-right: 1.5em

  button
    width: 50%

  &.fullWidth
    input:not([type='checkbox']), textarea
      width: 100%

  .group
    display: flex
    margin: 1rem 0
    h3
      width: 20%
      margin-right: 2em
    .input
      width: 50%

    &--inputCheckbox
      display: flex
      input
        flex-shrink: 0

  &.sending
    opacity: .5
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both
    animation-iteration-count: infinite
    transform: translate3d(0, 0, 0)
    backface-visibility: hidden
    perspective: 1000px
    
  @media #{$mobile}
    input, textarea
      width: 100%
    button
      width: 100%

div.message
    display: none

@keyframes shake
  10%, 90%
    transform: translate3d(-1px, 0, 0)
  
  20%, 80%
    transform: translate3d(2px, 0, 0)

  30%, 50%, 70%
    transform: translate3d(-4px, 0, 0)

  40%, 60%
    transform: translate3d(4px, 0, 0)