RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /index.php [L,QSA]

# Fotogalerie in der Cloud
Redirect 301 /fotogalerie https://cloud.bits-und-baeume.org/index.php/s/eTH4H8zwdeWmjkE

# Stabilität bestehender Links bewirken
Redirect 301 /konferenzankuendigung /konferenz
Redirect 301 /konferenzankuendigung/de /konferenz/de
Redirect 301 /konferenzankuendigung/en /konferenz/en
# ÖA-Weiterleitungen
Redirect 301 /programm-anregungen https://etherpad.wikimedia.org/p/bb22-programm-anregungen
Redirect 301 /Organisationsmodell https://cloud.bits-und-baeume.org/index.php/apps/collectives/p/Rm56ZZkJsp2oqte/Organisationsmodell
Redirect 301 /organisationsmodell https://cloud.bits-und-baeume.org/index.php/apps/collectives/p/Rm56ZZkJsp2oqte/Organisationsmodell
Redirect 301 /Matrixanmeldung https://cloud.bits-und-baeume.org/index.php/apps/collectives/p/fLP8pwfbELPM78L/Matrix 
Redirect 301 /matrixanmeldung https://cloud.bits-und-baeume.org/index.php/apps/collectives/p/fLP8pwfbELPM78L/Matrix
Redirect 301 /Kalender https://cloud.bits-und-baeume.org/index.php/apps/calendar/p/4kNZbfrsPjWkcEJ5/listMonth/now
Redirect 301 /kalender https://cloud.bits-und-baeume.org/index.php/apps/calendar/p/4kNZbfrsPjWkcEJ5/listMonth/now
Redirect 301 /tickets https://events.fairetickets.de/gedlv/
Redirect 301 /Tickets https://events.fairetickets.de/gedlv/
Redirect 301 /helfen https://engelsystem.de/bub/login
Redirect 301 /Helfen https://engelsystem.de/bub/login
Redirect 301 /Schlafplatzbörse https://cloud.bits-und-baeume.org/pad/p/j21pggkhtbykbv6m
Redirect 301 /schlafplatzbörse https://cloud.bits-und-baeume.org/pad/p/j21pggkhtbykbv6m
Redirect 301 /Schlafplatzboerse https://cloud.bits-und-baeume.org/pad/p/j21pggkhtbykbv6m
Redirect 301 /schlafplatzboerse https://cloud.bits-und-baeume.org/pad/p/j21pggkhtbykbv6m
Redirect 301 /druckdateien https://cloud.bits-und-baeume.org/index.php/s/Jy6g24XWaPj9FMZ


# BigBlueButton-Räume
Redirect 301 /BBB-AG-ÖA https://lecture.senfcall.de/bbk-mjm-xmu-nbs
Redirect 301 /BBB-AG-Vernetzung https://lecture.senfcall.de/bbk-uud-whn-psv
Redirect 301 /BBB-AG-Kultur https://lecture.senfcall.de/bbk-u9e-wgy-qct
Redirect 301 /BBB-AG-Logistik https://lecture.senfcall.de/bbk-rgt-abt-jsw
Redirect 301 /BBB-AG-Forum https://lecture.senfcall.de/bbk-rmf-4hr-cqm
Redirect 301 /BBB-AG-Care https://lecture.senfcall.de/bbk-uax-ad5-odx
Redirect 301 /BBB-AG-Programm https://lecture.senfcall.de/bbk-uud-whn-psv
Redirect 301 /BBB-Orgakreis https://lecture.senfcall.de/bbk-nt6-nsq-90n
Redirect 301 /BBB-AG-IT https://lecture.senfcall.de/bbk-agr-7az-eck
Redirect 301 /BBB-AG-Awareness https://lecture.senfcall.de/bbk-qf9-tko-yxa
Redirect 301 /BBB-Mithilfe-Lounge https://lecture.senfcall.de/rai-qmi-0mh-ziw
Redirect 301 /BBB-TK https://lecture.senfcall.de/rai-efg-dsh-8qc





Options +MultiViews
DirectoryIndex index index.php index.html
AddLanguage en .en
AddLanguage de .de
DefaultLanguage de
LanguagePriority de en
ForceLanguagePriority Fallback

<ifModule mod_gzip.c>
mod_gzip_on Yes
mod_gzip_dechunk Yes
mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
mod_gzip_item_include handler ^cgi-script$
mod_gzip_item_include mime ^text/.*
mod_gzip_item_include mime ^application/x-javascript.*
mod_gzip_item_exclude mime ^image/.*
mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>

<IfModule mod_deflate.c>
  # Compress HTML, CSS, JavaScript, Text, XML and fonts
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/opentype
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml
</IfModule>

<IfModule expires_module>
    ExpiresActive on
    ExpiresDefault "access plus 1 minute"
    AddType application/vnd.ms-fontobject .eot 
    AddType application/x-font-ttf .ttf
    AddType application/x-font-opentype .otf
    AddType application/x-font-woff .woff
    AddType image/svg+xml .svg
    ExpiresByType application/vnd.ms-fontobject "access 1 month"
    ExpiresByType application/x-font-ttf "access 1 month"
    ExpiresByType application/x-font-opentype "access 1 month"
    ExpiresByType application/x-font-woff "access 1 month"
    ExpiresByType image/svg+xml "access 1 day"
    ExpiresByType image/x-icon "access plus 1 month"
    ExpiresByType image/jpg "access plus 1 hour"
    ExpiresByType image/jpeg "access plus 1 hour"
    ExpiresByType image/gif "access plus 1 hour"
    ExpiresByType image/png "access plus 1 hour"
    ExpiresByType text/html "access plus 0 seconds"
    ExpiresByType text/htm "access plus 0 seconds"
    ExpiresByType text/javascript "access plus 0 seconds"
    ExpiresByType application/xml "access plus 0 seconds"
    ExpiresByType application/json "access plus 0 seconds"
    ExpiresByType text/cache-manifest "access plus 0 seconds"
</IfModule>
